body {
  background-color: rgb(255, 255, 128);
  display: grid;
  grid-template-areas:
    "img1 img2 img3"
    "img4 form img5"
    "img6 img7 img8";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 60px; /* Espaciado entre los elementos */
  padding: 20px;
  margin: 0;
}

h1 {
  font-size: 30px;
  text-align: center;
}

img {
  width: 100px; /* Tamaño uniforme */
  height: auto;
  mix-blend-mode: multiply;
  clip-path: circle(50%);
}

.formulario {
  grid-area: form;
  font-family: "Roboto", sans-serif;
  background-color: rgb(200, 255, 200);
  min-height: 220px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-1 {
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  padding: 10px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  body {
    grid-template-areas:
      "img1"
      "form"
      "img2";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px; /* Reducir el espaciado entre los elementos */
    padding: 10px;
  }

  .formulario {
    width: 90%; /* Ajustar el ancho del formulario para móviles */
    max-width: none;
  }

  img {
    width: 100px; /* Reducir el tamaño de las imágenes para móviles */
  }

  h1 {
    font-size: 24px; /* Reducir el tamaño de la fuente para móviles */
  }

  .btn-1 {
    font-size: 20px; /* Reducir el tamaño de la fuente del botón para móviles */
    padding: 8px 16px;
  }
}
